/* ---------------------------------------------
    Headings
--------------------------------------------- */
$dashHeight: 5px;
$thinDashHeight: 3px;

h1, h2, h3, h4, h5, h6 {
    font-weight: 600;
    margin-bottom: 1em;
}

h1 { font-size: 2rem; }
h2 { font-size: 1.8rem; }
h3 { font-size: 1.65rem; }
h4 { font-size: 1.45rem; }
h5 { font-size: 1.25rem; }
h6 { font-size: 1rem; }

.with-bot-dash-left {
    &:after {
    margin: 15px 0 0;
}
}

.with-double-bot-dash {
    position: relative;
    &:after, &:before {
        display: block;
        content: "";
        height: $thinDashHeight;
        width: 60px;
    }
    &:after {
        margin: 10px auto 0;
        background: $tae-dark;
    }
    &:before {
        position: absolute;
        bottom: -7px;
        background: red;
        left: 45%;
    }
}

.with-border {
    position: relative;
    &:after {
        display: block;
        content: "";
        width: 100%;
        border-top: 2px solid $tae-dark;
        position: absolute;
        top: calc(50% - 1px);
        z-index: 1;
    }
    span {
        display: inline-block;
        background: #fff;
        padding: 0 15px;
        position: relative;
        z-index: 3;
        max-width: 70%;
    }
}

.with-side-dashes {
    max-width: 85%;
    display: inline-block;
        background: #fff;
        padding: 0 15px;
        position: relative;
        z-index: 3;
        &::before, &::after {
            display: block;
        content: "";
        width: 30px;
        border-top: 2px solid $tae-dark;
        position: absolute;
        top: calc(50% - 1px);
        z-index: 1;        
        }
        &::before {
            left: -30px;
            margin-left: 15px;
        }
        &::after {
            right: -30px;
            margin-right: 15px;
        }
        span {
            display: block;
            max-width: 70%;
            padding: 0 15px;
            margin-left: auto;
            margin-right: auto;
            min-width: fit-content;
        }
}

.with-bot-bordot {
    padding-bottom: 1rem;
    border-bottom: 5px solid $tae-gray;
    position: relative;
    &:after, &:before {
        display: block;
        content: "";
        z-index: 1;
        height: $dashHeight;
        background: $tae-dark;
        position: absolute;
        bottom: -5px;
    }
    &:before {
        right: 0px;
        width: 45px;
    }
    &:after {
        right: 50px;
        width: 5px;
    }
}

.with-rbdash-border {
    position: relative;
    &:after {
        display: block;
        content: "";
        height: $dashHeight;
        background: $tae-gray;
        position: absolute;
        left: 0;
        width: 100%;
        top: 50%;
    }
    span {
        display: inline-block;
        background: #fff;
        padding: 0 15px 0 0;
        position: relative;
        z-index: 3;
        max-width: 70%;
        &:after {
            display: block;
            content: "";
            width: 45px;
            height: $dashHeight;
            position: absolute;
            right: -45px;
            top: 50%;
            background: $tae-dark;
        }
    }
}