/* ------------------------------------------------------------
    Google Fonts
------------------------------------------------------------ */
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700&display=swap');
@import url(http://fonts.googleapis.com/css?family=Lateef&display=swap&subset=arabic);
@import url(http://fonts.googleapis.com/earlyaccess/droidarabickufi.css);

@font-face {
  font-family: GretaRegular;
  font-display: swap;
  src: url(https://cdn.ida2at.com/theme/fonts/GretaArabicRegular.eot);
  src: url(https://cdn.ida2at.com/theme/fonts/GretaArabicRegular.eot?#iefix)
      format("embedded-opentype"),
    url(https://cdn.ida2at.com/theme/fonts/GretaArabicRegular.woff)
      format("woff"),
    url(https://cdn.ida2at.com/theme/fonts/GretaArabicRegular.otf)
      format("opentype");
}
@font-face {
  font-family: GretaBold;
  font-display: swap;
  src: url(https://cdn.ida2at.com/theme/fonts/GretaArabicBold.eot);
  src: url(https://cdn.ida2at.com/theme/fonts/GretaArabicBold.eot?#iefix)
      format("embedded-opentype"),
    url(https://cdn.ida2at.com/theme/fonts/GretaArabicBold.woff) format("woff");
}

/* ------------------------------------------------------------
    Font Awesome :: 5.7.2
------------------------------------------------------------ */
@import url(https://use.fontawesome.com/releases/v5.7.2/css/all.css);